.img-place {
    display: flex;
    justify-content: center;
    top: 40px;
    position: relative;
}

p{
    display: flex;
    justify-content: center;
    top: 50px;
    position: relative;
}
.display-user-info{
    position: relative;
    top: 70px;
}