p.username-label{
    position: relative;
    right: 40px;
    top: 10px;
    color: #002556;

}

i.icon{
    position: relative;
    right: 27px;
    font-size: xxx-large;
    color: #002556;

}

.title {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #002556;
}